

  <table>
    <thead>
      <tr>
        <th (click)="sort('name')" scope="col" class="head">
         Name
        </th>
        <th (click)="sort('age')" scope="col" class="head">
          Age
        </th>
        <th (click)="sort('department')" scope="col" class="head">
          Department
        </th>
      </tr>
    </thead>
    <ng-container *ngIf="data$ | async as data">
      

    <tr *ngFor="let person of data">
      <td>
        <input [(ngModel)] = "person.name" placeholder="name">
    
      </td>
      <td>
        <input [(ngModel)] = "person.age" placeholder="age">
      </td>
      <td>
        <input [(ngModel)] = "person.department" placeholder="department">
      </td>
    </tr>
  </ng-container>
  </table>

